.title{background-color: rgb(59, 118, 228) ; height: 60px;display: flex;}
.ul_logo{ height: 60px; display: block; margin-left: auto; margin-right: auto ;}
.second_image {height: 400px; background-image: url(Imag/sl.jpg); background-position: 50%  ; background-size: cover;  background-repeat: no-repeat;}
.main{width: 100%;}
.station-sök{background: rgb(59, 118, 228); margin: auto; text-align: center; position: right bottom;}
.sök-falt{width: 300px; height: 40px; border-radius: 20px;}
.sök-button{border-radius: 20px; width: 50px; padding: 20px;}
.radio{
    
    display: flex;
    justify-content: center;
    align-items: top;
    height: 5em;
    min-height: 1em;
    margin-right: 20px;}

    .radio img {
        bottom: 2em;
        width: 3em;
        height: 3em;
        border-radius: 10px;
        margin-right: 30px;
    }
    
    .custom-radio-btn {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        right: 22em; 
        
    }
#bussTider { width: 100%; }
#timeTable{ width: 80%; margin-left: auto; margin-right: auto;}



